@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@utility container {
  margin: 0 auto;
}
@font-face {
  font-family: "HK Grotesk Medium";
  src:
    local("HK Grotesk Medium"),
    url("/fonts/HKGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@theme {
  --font-DM_Sans: "DM sans", sans-serif;
  --font-Inter: "Inter", sans-serif;
  --font-Josefin_Sans: "Josefin Sans", sans-serif;
  --font-Manrope: "Manrope", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
  --font-Nunito: "Nunito", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Raleway: "Raleway", sans-serif;
  --font-Roboto: "Roboto", sans-serif;
  --font-Sail: "Sail", sans-serif;
  --font-Source_Sans_3: "Source Sans 3", sans-serif;
  --font-Syncopate: "Syncopate", sans-serif;
  --font-Work_Sans: "Work Sans", sans-serif;
  --font-HK_medium: "HK Grotesk Medium", sans-serif;
  --font-sourceCodePro: "Source Code Pro", monospace;
  /* colors */
  --color-primary: #313144;
}
body {
  background-color: #272a2b;
}
